<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="result">
<h1>ENTER YOUR DETAILS TO GET FREE CASH(100% GENUINE SITE)</h1>


    Enter Your name : <input type="text"><br>
    Enter Your age  : <input type="number"><br>
    Enter your email id(optional) : <input type="email"><br>
    Enter your phone number(optional) : <input type="number"><br>
    <input type="submit">
</form>
</body>
</html>