<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body colour="green">
<form action="result">
<h1>ENTER YOUR DETAILS TO GET FREE CASH(100% GENUINE SITE)</h1>


   <h1> Enter Your name : <input type="text"></h1><br>
    <h1>Enter Your age  : <input type="number"></h1><br>
   <h1> Enter your email id(optional) : <input type="email"></h1><br>
   <h1> Enter your phone number(optional) : <input type="number"></h1><br>
   <h1> <input type="submit"></h1>
</form>
</body>

</html>

